body {
	background-image: url(../images/bkgd_wormz_copy.png);
}

#gifs {
	display: inline-flex;
	flex-wrap: wrap;
}

img.gif {
	margin-right: 5px;
}

.cartoon {
	/*margin-right: 5px;*/
	margin: 5px;
}

#fancy-glyph {
	padding-left: 1px;
	margin-left: 5px;
}